/* SilverCSS Font-Weight CSS */
.sv-weight-bold {
  font-weight: bold;
}

.sv-weight-bolder {
  font-weight: bolder;
}

.sv-weight-lighter {
  font-weight: lighter;
}

.sv-weight-normal {
  font-weight: normal;
}

.sv-weight-25 {
  font-weight: 25;
}

.sv-weight-50 {
  font-weight: 50;
}

.sv-weight-75 {
  font-weight: 75;
}

.sv-weight-100 {
  font-weight: 100;
}

.sv-weight-125 {
  font-weight: 125px;
}

.sv-weight-150 {
  font-weight: 150px;
}

.sv-weight-175 {
  font-weight: 175px;
}

.sv-weight-200 {
  font-weight: 200px;
}

.sv-weight-225 {
  font-weight: 225px;
}

.sv-weight-250 {
  font-weight: 250px;
}

.sv-weight-275 {
  font-weight: 275px;
}

.sv-weight-300 {
  font-weight: 300px;
}

.sv-weight-325 {
  font-weight: 325px;
}

.sv-weight-350 {
  font-weight: 350px;
}

.sv-weight-375 {
  font-weight: 375px;
}

.sv-weight-400 {
  font-weight: 400px;
}

.sv-weight-425 {
  font-weight: 425px;
}

.sv-weight-450 {
  font-weight: 450px;
}

.sv-weight-475 {
  font-weight: 475px;
}

.sv-weight-500 {
  font-weight: 500px;
}

.sv-weight-525 {
  font-weight: 525px;
}

.sv-weight-550 {
  font-weight: 550px;
}

.sv-weight-575 {
  font-weight: 575px;
}

.sv-weight-600 {
  font-weight: 600px;
}

.sv-weight-625 {
  font-weight: 625px;
}

.sv-weight-650 {
  font-weight: 650px;
}

.sv-weight-675 {
  font-weight: 675px;
}

.sv-weight-700 {
  font-weight: 700px;
}

.sv-weight-725 {
  font-weight: 725px;
}

.sv-weight-750 {
  font-weight: 750px;
}

.sv-weight-775 {
  font-weight: 775px;
}

.sv-weight-800 {
  font-weight: 800px;
}

.sv-weight-825 {
  font-weight: 825px;
}

.sv-weight-850 {
  font-weight: 850px;
}

.sv-weight-875 {
  font-weight: 875px;
}

.sv-weight-900 {
  font-weight: 900px;
}
