/* SilverCSS Border Color CSS */

.sv-tcolor-inherit {
  color: inherit;
}

.sv-tcolor-F0F8FF {
  color: #F0F8FF;
}

.sv-tcolor-FAEBD7 {
  color: #FAEBD7;
}

.sv-tcolor-00FFFF {
  color: #00FFFF;
}

.sv-tcolor-7FFFD4 {
  color: #7FFFD4;
}

.sv-tcolor-F0FFFF {
  color: #F0FFFF;
}

.sv-tcolor-F5F5DC {
  color: #F5F5DC;
}

.sv-tcolor-FFE4C4 {
  color: #FFE4C4;
}

.sv-tcolor-000000 {
  color: #000000;
}

.sv-tcolor-FFEBCD {
  color: #FFEBCD;
}

.sv-tcolor-0000FF {
  color: #0000FF;
}

.sv-tcolor-8A2BE2 {
  color: #8A2BE2;
}

.sv-tcolor-A52A2A {
  color: #A52A2A;
}

.sv-tcolor-DEB887 {
  color: #DEB887;
}

.sv-tcolor-5F9EA0 {
  color: #5F9EA0;
}

.sv-tcolor-7FFF00 {
  color: #7FFF00;
}

.sv-tcolor-D2691E {
  color: #D2691E;
}

.sv-tcolor-FF7F50 {
  color: #FF7F50;
}

.sv-tcolor-6495ED {
  color: #6495ED;
}

.sv-tcolor-FFF8DC {
  color: #FFF8DC;
}

.sv-tcolor-DC143C {
  color: #DC143C;
}

.sv-tcolor-00FFFF {
  color: #00FFFF;
}

.sv-tcolor-00008B {
  color: #00008B;
}

.sv-tcolor-008B8B {
  color: #008B8B;
}

.sv-tcolor-B8860B {
  color: #B8860B;
}

.sv-tcolor-A9A9A9 {
  color: #A9A9A9;
}

.sv-tcolor-006400 {
  color: #006400;
}

.sv-tcolor-BDB76B {
  color: #BDB76B;
}

.sv-tcolor-8B008B {
  color: #8B008B;
}

.sv-tcolor-556B2F {
  color: #556B2F;
}

.sv-tcolor-FF8C00 {
  color: #FF8C00;
}

.sv-tcolor-9932CC {
  color: #9932CC;
}

.sv-tcolor-8B0000 {
  color: #8B0000;
}

.sv-tcolor-E9967A {
  color: #E9967A;
}

.sv-tcolor-8FBC8F {
  color: #8FBC8F;
}

.sv-tcolor-483D8B {
  color: #483D8B;
}

.sv-tcolor-2F4F4F {
  color: #2F4F4F;
}

.sv-tcolor-00CED1 {
  color: #00CED1;
}

.sv-tcolor-9400D3 {
  color: #9400D3;
}

.sv-tcolor-FF1493 {
  color: #FF1493;
}

.sv-tcolor-00BFFF {
  color: #00BFFF;
}

.sv-tcolor-696969 {
  color: #696969;
}

.sv-tcolor-1E90FF {
  color: #1E90FF;
}

.sv-tcolor-B22222 {
  color: #B22222;
}

.sv-tcolor-FFFAF0 {
  color: #FFFAF0;
}

.sv-tcolor-228B22 {
  color: #228B22;
}

.sv-tcolor-FF00FF {
  color: #FF00FF;
}

.sv-tcolor-DCDCDC {
  color: #DCDCDC;
}

.sv-tcolor-F8F8FF {
  color: #F8F8FF;
}

.sv-tcolor-FFD700 {
  color: #FFD700;
}

.sv-tcolor-DAA520 {
  color: #DAA520;
}

.sv-tcolor-808080 {
  color: #808080;
}

.sv-tcolor-008000 {
  color: #008000;
}

.sv-tcolor-ADFF2F {
  color: #ADFF2F;
}

.sv-tcolor-F0FFF0 {
  color: #F0FFF0;
}

.sv-tcolor-FF69B4 {
  color: #FF69B4;
}

.sv-tcolor-CD5C5C {
  color: #CD5C5C;
}

.sv-tcolor-4B0082 {
  color: #4B0082;
}

.sv-tcolor-FFFFF0 {
  color: #FFFFF0;
}

.sv-tcolor-F0E68C {
  color: #F0E68C;
}

.sv-tcolor-E6E6FA {
  color: #E6E6FA;
}

.sv-tcolor-FFF0F5 {
  color: #FFF0F5;
}

.sv-tcolor-7CFC00 {
  color: #7CFC00;
}

.sv-tcolor-FFFACD {
  color: #FFFACD;
}

.sv-tcolor-ADD8E6 {
  color: #ADD8E6;
}

.sv-tcolor-F08080 {
  color: #F08080;
}

.sv-tcolor-E0FFFF {
  color: #E0FFFF;
}

.sv-tcolor-FAFAD2 {
  color: #FAFAD2;
}

.sv-tcolor-D3D3D3 {
  color: #D3D3D3;
}

.sv-tcolor-90EE90 {
  color: #90EE90;
}

.sv-tcolor-FFB6C1 {
  color: #FFB6C1;
}

.sv-tcolor-FFA07A {
  color: #FFA07A;
}

.sv-tcolor-20B2AA {
  color: #20B2AA;
}

.sv-tcolor-87CEFA {
  color: #87CEFA;
}

.sv-tcolor-778899 {
  color: #778899;
}

.sv-tcolor-B0C4DE {
  color: #B0C4DE;
}

.sv-tcolor-FFFFE0 {
  color: #FFFFE0;
}

.sv-tcolor-00FF00 {
  color: #00FF00;
}

.sv-tcolor-32CD32 {
  color: #32CD32;
}

.sv-tcolor-FAF0E6 {
  color: #FAF0E6;
}

.sv-tcolor-FF00FF {
  color: #FF00FF;
}

.sv-tcolor-800000 {
  color: #800000;
}

.sv-tcolor-66CDAA {
  color: #66CDAA;
}

.sv-tcolor-0000CD {
  color: #0000CD;
}

.sv-tcolor-BA55D3 {
  color: #BA55D3;
}

.sv-tcolor-9370DB {
  color: #9370DB;
}

.sv-tcolor-3CB371 {
  color: #3CB371;
}

.sv-tcolor-7B68EE {
  color: #7B68EE;
}

.sv-tcolor-00FA9A {
  color: #00FA9A;
}

.sv-tcolor-48D1CC {
  color: #48D1CC;
}

.sv-tcolor-C71585 {
  color: #C71585;
}

.sv-tcolor-191970 {
  color: #191970;
}

.sv-tcolor-F5FFFA {
  color: #F5FFFA;
}

.sv-tcolor-FFE4E1 {
  color: #FFE4E1;
}

.sv-tcolor-FFE4B5 {
  color: #FFE4B5;
}

.sv-tcolor-FFDEAD {
  color: #FFDEAD;
}

.sv-tcolor-000080 {
  color: #000080;
}

.sv-tcolor-FDF5E6 {
  color: #FDF5E6;
}

.sv-tcolor-808000 {
  color: #808000;
}

.sv-tcolor-6B8E23 {
  color: #6B8E23;
}

.sv-tcolor-FFA500 {
  color: #FFA500;
}

.sv-tcolor-FF4500 {
  color: #FF4500;
}

.sv-tcolor-DA70D6 {
  color: #DA70D6;
}

.sv-tcolor-EEE8AA {
  color: #EEE8AA;
}

.sv-tcolor-98FB98 {
  color: #98FB98;
}

.sv-tcolor-AFEEEE {
  color: #AFEEEE;
}

.sv-tcolor-DB7093 {
  color: #DB7093;
}

.sv-tcolor-FFEFD5 {
  color: #FFEFD5;
}

.sv-tcolor-FFDAB9 {
  color: #FFDAB9;
}

.sv-tcolor-CD853F {
  color: #CD853F;
}

.sv-tcolor-FFC0CB {
  color: #FFC0CB;
}

.sv-tcolor-DDA0DD {
  color: #DDA0DD;
}

.sv-tcolor-B0E0E6 {
  color: #B0E0E6;
}

.sv-tcolor-800080 {
  color: #800080;
}

.sv-tcolor-663399 {
  color: #663399;
}

.sv-tcolor-FF0000 {
  color: #FF0000;
}

.sv-tcolor-BC8F8F {
  color: #BC8F8F;
}

.sv-tcolor-4169E1 {
  color: #4169E1;
}

.sv-tcolor-8B4513 {
  color: #8B4513;
}

.sv-tcolor-FA8072 {
  color: #FA8072;
}

.sv-tcolor-F4A460 {
  color: #F4A460;
}

.sv-tcolor-2E8B57 {
  color: #2E8B57;
}

.sv-tcolor-FFF5EE {
  color: #FFF5EE;
}

.sv-tcolor-A0522D {
  color: #A0522D;
}

.sv-tcolor-C0C0C0 {
  color: #C0C0C0;
}

.sv-tcolor-87CEEB {
  color: #87CEEB;
}

.sv-tcolor-6A5ACD {
  color: #6A5ACD;
}

.sv-tcolor-708090 {
  color: #708090;
}

.sv-tcolor-FFFAFA {
  color: #FFFAFA;
}

.sv-tcolor-00FF7F {
  color: #00FF7F;
}

.sv-tcolor-4682B4 {
  color: #4682B4;
}

.sv-tcolor-D2B48C {
  color: #D2B48C;
}

.sv-tcolor-008080 {
  color: #008080;
}

.sv-tcolor-D8BFD8 {
  color: #D8BFD8;
}

.sv-tcolor-FF6347 {
  color: #FF6347;
}

.sv-tcolor-40E0D0 {
  color: #40E0D0;
}

.sv-tcolor-EE82EE {
  color: #EE82EE;
}

.sv-tcolor-F5DEB3 {
  color: #F5DEB3;
}

.sv-tcolor-FFFFFF {
  color: #FFFFFF;
}

.sv-tcolor-F5F5F5 {
  color: #F5F5F5;
}

.sv-tcolor-9ACD32 {
  color: #9ACD32;
}

.sv-tcolor-FFFF00 {
  color: #FFFF00;
}
