/* SilverCSS Letter-Spacing CSS */

.sv-spacing-normal {
  letter-spacing: normal;
}

.sv-spacing-inherit {
  letter-spacing: inherit;
}

.sv-spacing-p1 {
  letter-spacing: 1px;
}

.sv-spacing-p2 {
  letter-spacing: 2px;
}

.sv-spacing-p3 {
  letter-spacing: 3px;
}

.sv-spacing-p4 {
  letter-spacing: 4px;
}

.sv-spacing-p5 {
  letter-spacing: 5px;
}

.sv-spacing-p6 {
  letter-spacing: 6px;
}

.sv-spacing-p7 {
  letter-spacing: 7px;
}

.sv-spacing-p8 {
  letter-spacing: 8px;
}

.sv-spacing-p9 {
  letter-spacing: 9px;
}

.sv-spacing-p10 {
  letter-spacing: 10px;
}

.sv-spacing-n1 {
  letter-spacing: -1px;
}

.sv-spacing-n2 {
  letter-spacing: -2px;
}

.sv-spacing-n3 {
  letter-spacing: -3px;
}

.sv-spacing-n4 {
  letter-spacing: -4px;
}

.sv-spacing-n5 {
  letter-spacing: -5px;
}

.sv-spacing-n6 {
  letter-spacing: -6px;
}

.sv-spacing-n7 {
  letter-spacing: -7px;
}

.sv-spacing-n8 {
  letter-spacing: -8px;
}

.sv-spacing-n9 {
  letter-spacing: -9px;
}

.sv-spacing-n10 {
  letter-spacing: -10px;
}

.sv-spacing-nd5 {
  letter-spacing: -.5px;
}

.sv-spacing-n1d5 {
  letter-spacing: -1.5px;
}

.sv-spacing-n2d5 {
  letter-spacing: -2.5px;
}

.sv-spacing-n3d5 {
  letter-spacing: -3.5px;
}

.sv-spacing-n4d5 {
  letter-spacing: -4.5px;
}

.sv-spacing-n5d5 {
  letter-spacing: -5.5px;
}

.sv-spacing-n6d5 {
  letter-spacing: -6.5px;
}

.sv-spacing-n7d5 {
  letter-spacing: -7.5px;
}

.sv-spacing-n8d5 {
  letter-spacing: -8.5px;
}

.sv-spacing-n9d5 {
  letter-spacing: -9.5px;
}

.sv-spacing-n10d5 {
  letter-spacing: -10.5px;
}

.sv-spacing-pd5 {
  letter-spacing: .5px;
}

.sv-spacing-p1d5 {
  letter-spacing: 1.5px;
}

.sv-spacing-p2d5 {
  letter-spacing: 2.5px;
}

.sv-spacing-p3d5 {
  letter-spacing: 3.5px;
}

.sv-spacing-p4d5 {
  letter-spacing: 4.5px;
}

.sv-spacing-p5d5 {
  letter-spacing: 5.5px;
}

.sv-spacing-p6d5 {
  letter-spacing: 6.5px;
}

.sv-spacing-p7d5 {
  letter-spacing: 7.5px;
}

.sv-spacing-p8d5 {
  letter-spacing: 8.5px;
}

.sv-spacing-p9d5 {
  letter-spacing: 9.5px;
}

.sv-spacing-p10d5 {
  letter-spacing: 10.5px;
}
