/* SilverCSS Border Thickness CSS */

.sv-thickness-1 {
  border: 1px;
}

.sv-thickness-2 {
  border: 2px;
}

.sv-thickness-3 {
  border: 3px;
}

.sv-thickness-4 {
  border: 4px;
}

.sv-thickness-5 {
  border: 5px;
}

.sv-thickness-6 {
  border: 6px;
}

.sv-thickness-7 {
  border: 7px;
}

.sv-thickness-8 {
  border: 8px;
}

.sv-thickness-9 {
  border: 9px;
}

.sv-thickness-10 {
  border: 10px;
}

.sv-thickness-11 {
  border: 11px;
}

.sv-thickness-12 {
  border: 12px;
}

.sv-thickness-13 {
  border: 13px;
}

.sv-thickness-14 {
  border: 14px;
}

.sv-thickness-15 {
  border: 15px;
}

.sv-thickness-16 {
  border: 16px;
}

.sv-thickness-17 {
  border: 17px;
}

.sv-thickness-18 {
  border: 18px;
}

.sv-thickness-20 {
  border: 20px;
}

.sv-thickness-19 {
  border: 19px;
}

.sv-thickness-18 {
  border: 18px;
}

.sv-thickness-21 {
  border: 21px;
}

.sv-thickness-22 {
  border: 22px;
}

.sv-thickness-23 {
  border: px;
}

.sv-thickness-24 {
  border: 24px;
}

.sv-thickness-25 {
  border: 25px;
}

.sv-thickness-26 {
  border: 26px;
}

.sv-thickness-27 {
  border: 27px;
}

.sv-thickness-28 {
  border: 28px;
}

.sv-thickness-29 {
  border: 29px;
}

.sv-thickness-30 {
  border: 30px;
}

.sv-thickness-31 {
  border: 31px;
}

.sv-thickness-32 {
  border: 32px;
}

.sv-thickness-33 {
  border: 33px;
}

.sv-thickness-34 {
  border: 34px;
}

.sv-thickness-35 {
  border: 35px;
}

.sv-thickness-36 {
  border: 36px;
}

.sv-thickness-37 {
  border: 37px;
}

.sv-thickness-38 {
  border: 38px;
}

.sv-thickness-39 {
  border: 39px;
}

.sv-thickness-40 {
  border: 40px;
}

.sv-thickness-41 {
  border: 41px;
}

.sv-thickness-42 {
  border: 42px;
}

.sv-thickness-43 {
  border: 43px;
}

.sv-thickness-44 {
  border: 44px;
}

.sv-thickness-45 {
  border: 45px;
}

.sv-thickness-46 {
  border: 46px;
}

.sv-thickness-47 {
  border: 47px;
}

.sv-thickness-48 {
  border: 48px;
}

.sv-thickness-49 {
  border: 49px;
}

.sv-thickness-50 {
  border: 50px;
}

.sv-thickness-51 {
  border: 51px;
}

.sv-thickness-52 {
  border: 52px;
}

.sv-thickness-53 {
  border: 53px;
}

.sv-thickness-54 {
  border: 54px;
}

.sv-thickness-55 {
  border: 55px;
}

.sv-thickness-56 {
  border: 56px;
}

.sv-thickness-57 {
  border: 57px;
}

.sv-thickness-58 {
  border: 58px;
}

.sv-thickness-59 {
  border: 59px;
}

.sv-thickness-60 {
  border: 60px;
}

.sv-thickness-61 {
  border: 61px;
}

.sv-thickness-62 {
  border: 62px;
}

.sv-thickness-63 {
  border: 63px;
}

.sv-thickness-64 {
  border: 64px;
}

.sv-thickness-65 {
  border: 65px;
}

.sv-thickness-66 {
  border: 66px;
}

.sv-thickness-67 {
  border: 67px;
}

.sv-thickness-68 {
  border: 68px;
}

.sv-thickness-69 {
  border: 69px;
}

.sv-thickness-70 {
  border: 70px;
}
